body {
  margin: 20px 60px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  min-width: 600px;
  max-width: 1200px;
  background-color: #59beda;
  background-image: url(./assets/mario.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  display: flex;
  font-size: xxx-large;
  padding-left: 20px;
  justify-content: center;
  color: #e73448;
}

h2 {
  height: 20px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  font-weight: 600;
  font-size: large;
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

input:hover {
  background-color: bisque;

}

input::placeholder {
  font-weight: 600;
  color: grey;
  font-size: large;
  padding-left: 5px;
  font-style: italic;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border: 2px solid #e73448;
  background-color: white;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  color: #e73448;
}

button:active {
  background-color: #e73448;
  color: white;
}

button:hover {
  font-size: larger;
}

ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

li {
  display: flex;
  font-weight: 600;
  padding-left: 5px;
  width: 300px;
  list-style-type: none;
  height: 30px;
  justify-content: flex-start;
}

div#wrapper {
  display: flex;
  justify-content: space-around;
  height: 400px;
}

div#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  color: white;
}

div#lefthead {
  display: flex;
}

div#right {
  display: flex;
  flex-direction: column;
}

.grey {
  display: flex;
  align-items: center;
  background-color: #e73448;
  opacity: 0.8;
}

li.white {
  display: flex;
  background-color: #1f1f21;
  opacity: 0.8;
  align-items: center;
}

div#scoreboard {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
